In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [130]:
df = pd.read_csv('copy.csv', index_col=0)
df.head()

/home/kabir/anaconda3/lib/python3.6/site-packages/numpy/lib/arraysetops.py:472: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

     userID          userName  userRating restuarantID restuarantName
0  46069667         Diya.nair         2.0     18853705       Sancho's
1  45050145  CoupleOfCalories         4.0     18853705       Sancho's
2    806050         Ayshwarya         4.0     18853705       Sancho's
3  42542774                JB         5.0     18853705       Sancho's
4    393752     Sneha Talreja         2.0     18853705       Sancho's

In [131]:
df = df.dropna()

In [132]:
res = pd.DataFrame(df.restuarantID.value_counts())

In [133]:
len(set(df['restuarantID'].values))

11908

In [134]:
res = res[res['restuarantID'] > 30]

In [135]:
res['index1'] = res.index
res.columns = ['count', 'restuarantID']
res

            count restuarantID
46021        4296        46021
34383        3364        34383
37814        3167        37814
34757        3153        34757
18512289     2905     18512289
34396        2852        34396
48851        2848        48851
32223        2695        32223
18392725     2591     18392725
39675        2494        39675
44568        2448        44568
40714        2441        40714
36282        2437        36282
43968        2426        43968
43212        2366        43212
44934        2191        44934
39240        2167        39240
34844        2165        34844
17806989     2152     17806989
44057        2086        44057
18512290     1984     18512290
16541542     1951     16541542
16508741     1925     16508741
36277        1918        36277
48362        1900        48362
17808570     1900     17808570
48323        1897        48323
38405        1877        38405
45602        1866        45602
45707        1853        45707
...           ...          ...
18689279       31     18689279
18669330       31     18669330
18540180       31     18540180
47910          31        47910
18561271       31     18561271
18869633       31     18869633
18635075       31     18635075
39027          31        39027
36019          31        36019
18614127       31     18614127
18677533       31     18677533
18674916       31     18674916
18671089       31     18671089
18590346       31     18590346
32144          31        32144
18784951       31     18784951
18357350       31     18357350
18508895.0     31   18508895.0
18461671       31     18461671
18597098       31     18597098
18165913       31     18165913
18271003       31     18271003
38981          31        38981
43171          31        43171
18746357       31     18746357
18656603       31     18656603
18288539       31     18288539
18614314       31     18614314
37161          31        37161
18543014       31     18543014

[5268 rows x 2 columns]

In [136]:
df_rest_final = df.merge(res,how = 'inner', on='restuarantID')

In [137]:
df_rest_final = df_rest_final.drop(columns = ['count'])

In [138]:
df_rest_final = df_rest_final.sample(frac=1).reset_index(drop=True)

In [139]:
df_rest_final = df_rest_final.sort_values('userID')

In [140]:
df_user = df_rest_final.copy()

In [141]:
res = pd.DataFrame(df_user.userID.value_counts())

In [142]:
res = res[res['userID'] > 30]

In [144]:
res['index1'] = res.index
res.columns = ['count','userID']

In [145]:
res

          count    userID
11798       480     11798
1200306     342   1200306
16160880    279  16160880
119376      263    119376
32662280    259  32662280
186718      249    186718
351192      244    351192
502382      236    502382
29171776    235  29171776
15843165    235  15843165
32959936    230  32959936
2705480     228   2705480
1447995     226   1447995
552174      222    552174
57166       213     57166
347700      210    347700
29663232    206  29663232
3100942     206   3100942
177483      204    177483
359395      198    359395
56267       195     56267
15559967    193  15559967
27616618    191  27616618
312067      191    312067
2182076     188   2182076
2811256     187   2811256
6679        186      6679
376050      181    376050
31321106    179  31321106
2618508     176   2618508
...         ...       ...
2779136      31   2779136
802689       31    802689
975352       31    975352
1971574      31   1971574
36356599     31  36356599
15602773     31  15602773
103012       31    103012
10375851     31  10375851
41658650     31  41658650
36979208     31  36979208
38030431     31  38030431
3204428      31   3204428
608144       31    608144
44534104     31  44534104
839655       31    839655
11830        31     11830
823198       31    823198
892287       31    892287
15672417     31  15672417
9282431      31   9282431
790670       31    790670
16695088     31  16695088
207193       31    207193
38272817     31  38272817
63191830     31  63191830
40986868     31  40986868
1054576      31   1054576
3102400      31   3102400
1126952      31   1126952
29235737     31  29235737

[3579 rows x 2 columns]

In [146]:
df_user_final = df_user.merge(res,how = 'inner', on='userID')

In [147]:
df_user_final = df_user_final.drop(columns=['count'])

In [148]:
df_user_final.to_csv('userwisedata.csv', index = False)

In [149]:
df_user_final

,userID,userName,userRating,restuarantID,restuarantName
0,10010931,Rohan6485,3.0,45772,Prakash Shakahari Upahaar Kendra
1,10010931,Rohan6485,2.5,40879,Aparna
2,10010931,Rohan6485,3.5,47055,Open House Cafe And Bar
3,10010931,Rohan6485,3.5,32795,Lucky Restaurant
4,10010931,Rohan6485,2.5,37897,DP's The Fast Food Centre
5,10010931,Rohan6485,3.0,41585,Sunlight Restaurant And Bar
6,10010931,Rohan6485,3.0,44205,New Modern Cafe
7,10010931,Rohan6485,3.0,38405,Guru Kripa
8,10010931,Rohan6485,3.5,41428,Royale Lebanese Wraps
9,10010931,Rohan6485,3.0,40290,Cafe Gulshan
10,10010931,Rohan6485,3.0,36440,Koyla
11,10010931,Rohan6485,3.0,45772,Prakash Shakahari Upahaar Kendra
12,10010931,Rohan6485,3.0,41201,Regency Family Restaurant
13,10010931,Rohan6485,4.0,40451,Gomantak
14,10010931,Rohan6485,3.5,41033,Pappu Da Dhaba
15,10010931,Rohan6485,4.0,46566,Lucky Restaurant
16,10010931,Rohan6485,3.5,44832,Sindhudurg
17,10010931,Rohan6485,3.5,43479,Hotel Ramkrishna
18,10010931,Rohan6485,3.0,39233,Maharana Kamath
19,10010931,Rohan6485,3.0,41212,Modern's Pride
20,10010931,Rohan6485,4.0,49328,Plush Retreat
21,10010931,Rohan6485,3.0,34091,Cafe Arfa
22,10010931,Rohan6485,3.5,35760,Gypsy Corner
23,10010931,Rohan6485,3.5,45849,The Legend
24,10010931,Rohan6485,4.0,38305,Achija
25,10010931,Rohan6485,3.0,48603,Nandi Palace Hotel
26,10010931,Rohan6485,3.0,34424,Gokul
27,10010931,Rohan6485,3.5,39053,Central Peninsula
28,10010931,Rohan6485,4.0,36261,Naaz Hotel
29,10010931,Rohan6485,4.5,32987,Sher-E-Punjab
...,...,...,...,...,...
193393,999339,Omkar Kadam,3.5,41899,Clove - The Restaurant
193394,999339,Omkar Kadam,3.0,18426115,Everyday Anday
193395,999339,Omkar Kadam,3.5,18223200,Café 12
193396,999339,Omkar Kadam,5.0,18476898,Twisties
193397,999339,Omkar Kadam,4.5,17846230,Bombay Barbeque
193398,999339,Omkar Kadam,4.0,17881721,Cantonese
193399,999339,Omkar Kadam,3.0,18476910,Cavalry The Lounge
193400,999339,Omkar Kadam,3.5,38721,Fusion Dhaba
193401,999339,Omkar Kadam,3.5,38269,Shubham Pure Veg
193402,999339,Omkar Kadam,4.5,32567,Navaratna
193403,999339,Omkar Kadam,3.5,40862,Cannon Pav Bhaji
193404,999339,Omkar Kadam,3.0,41052,Maitri Restaurant & Bar
193405,999339,Omkar Kadam,3.5,49855,Mitran Da Dhaba
193406,999339,Omkar Kadam,4.5,35968,Monis Bar and Restaurant
193407,999339,Omkar Kadam,4.0,17740614,Metkut
193408,999339,Omkar Kadam,3.5,18274261,Bedekar
193409,999339,Omkar Kadam,4.0,42010,Hotel Amantran
193410,999339,Omkar Kadam,4.5,41095,Hotel Twins
193411,999339,Omkar Kadam,3.0,44822,Achija
193412,999339,Omkar Kadam,3.0,18519034,Jade Raven Family Restro & Bar
193413,999339,Omkar Kadam,4.0,18313575,Spice Pavilion
193414,999339,Omkar Kadam,1.0,38986,Garnish
193415,999339,Omkar Kadam,2.0,46576,Cantonese
193416,999339,Omkar Kadam,5.0,41013,Utsav Kitchen
193417,999339,Omkar Kadam,4.0,47603,Santino's
193418,999339,Omkar Kadam,4.0,18133543,Lume Restaurant & Bar
193419,999339,Omkar Kadam,3.0,16557043,Sanjeevna
193420,999339,Omkar Kadam,4.0,37436,Shree Krishna Batatawada
193421,999339,Omkar Kadam,3.0,41011,National Punjab
193422,999339,Omkar Kadam,4.5,38933,Exotica - The Tropical Retreat

In [3]:
df_final = pd.read_csv('userwisedata.csv')

In [4]:
df_res = df_final.sort_values('restuarantID')

In [5]:
index = -1
prev = -1
for i,r in df_res.iterrows():
    if prev!=int(r['restuarantID']):
        index+=1
    prev = r['restuarantID']
    df_res.loc[i,'restuarantID']=index

In [7]:
df_res.to_csv('df_res.csv', index=0)
df_res

,userID,userName,userRating,restuarantID,restuarantName
65685,2693278,Kitchen Snaps,3.0,0.0,Sahara Sagar
94292,31622540,Hemit Mazny,4.0,0.0,Sahara Sagar
75181,29129925,Dr.Foodologist,1.0,0.0,Sahara Sagar
44617,1861120,Uday K,3.5,0.0,Sahara Sagar
66892,27153277,Rushabh Mataliya,3.0,0.0,Sahara Sagar
19632,14162211,Purvi Saxena,3.0,0.0,Sahara Sagar
82853,3027270,Samarth Oza,3.0,0.0,Sahara Sagar
15425,1321542,Ojas Shah,5.0,0.0,Sahara Sagar
7166,1159051,Mithila Gupte,3.0,0.0,Sahara Sagar
120406,35937161,Mandar Hate,4.0,0.0,Sahara Sagar
55885,224686,Ankur Vyas,3.5,0.0,Sahara Sagar
68178,27300640,Nikhil Salian,4.0,0.0,Sahara Sagar
184094,839381,Sarosh Desai,4.0,0.0,Sahara Sagar
4558,1093526,Yash Gosalia,3.0,0.0,Sahara Sagar
150183,456579,Ayush Jain,4.0,0.0,Sahara Sagar
76423,29221170,Kajol Jain,4.0,0.0,Sahara Sagar
149962,45469155,Rds_hogger,3.0,0.0,Sahara Sagar
166363,55308773,Riddhi Kantawala Shah,5.0,0.0,Sahara Sagar
179207,7540461,Forced Foodie,3.0,0.0,Sahara Sagar
160267,50608326,Taste.of.streets,3.0,0.0,Sahara Sagar
23205,1471513,Yash Desai,4.0,0.0,Sahara Sagar
168936,57972,Dhvani Shah | Vibrant Diaries,3.0,0.0,Sahara Sagar
102766,32666,Apurva Mehta,4.0,0.0,Sahara Sagar
77817,2934872,Jatin Mehta,4.0,0.0,Sahara Sagar
188770,9102831,Vinayak Bhat,4.5,0.0,Sahara Sagar
35326,16160880,Bhavin Parekh,3.0,0.0,Sahara Sagar
160988,51026739,Bhukkad,1.0,0.0,Sahara Sagar
179654,758455,Navin Liya,1.0,0.0,Sahara Sagar
160404,50672223,Gaurav Lodha,4.0,0.0,Sahara Sagar
28366,156032,Karan Desai,3.5,0.0,Sahara Sagar
...,...,...,...,...,...
123803,36505082,Ratna Patel,4.0,5136.0,Sandy's Den
151878,46624967,Hetal Kamdar,5.0,5136.0,Sandy's Den
179941,76245,Matharu,5.0,5136.0,Sandy's Den
134191,39073422,Juily,4.5,5136.0,Sandy's Den
155446,48143411,Bombaiya Bhukkads,4.5,5136.0,Sandy's Den
126769,37063349,TheHungryMinions,5.0,5136.0,Sandy's Den
173145,64299014,Nilesh Sonawane,5.0,5136.0,Sandy's Den
99453,32183024,Munching Curvy,5.0,5136.0,Sandy's Den
12996,1262181,Shamiran Dhar,4.0,5136.0,Sandy's Den
142920,42496451,Payal Dhumal,5.0,5136.0,Sandy's Den
83468,30348316,Pratik Patil,5.0,5136.0,Sandy's Den
155549,48179715,Ankit Das,5.0,5136.0,Sandy's Den
113505,34693922,FoodOBlast,5.0,5136.0,Sandy's Den
105237,33137349,TheHoggingChick💁,5.0,5136.0,Sandy's Den
173193,643903,Snackk_attackk,5.0,5136.0,Sandy's Den
148330,44886057,The Food Maniac Mumbai,5.0,5136.0,Sandy's Den
21947,14516151,Siddhesh Pathak,5.0,5137.0,House Of Thanos
83181,3030965,Sneha,5.0,5137.0,House Of Thanos
114396,34790457,Hungry_M@n_Walking,5.0,5137.0,House Of Thanos
136941,40064432,Shaheen Mustafa,5.0,5137.0,House Of Thanos
58493,2381620,Rohit Mavle,5.0,5137.0,House Of Thanos
120864,36013595,Anmol Panda,5.0,5137.0,House Of Thanos
114645,34815842,The Sassy Fanatic Foodie,5.0,5137.0,House Of Thanos
800,10124071,Sagar Shah,5.0,5137.0,House Of Thanos
131599,38275519,Archit Satam,5.0,5137.0,House Of Thanos
34582,1613078,Najeebah Kerawalla,5.0,5137.0,House Of Thanos
127792,37360385,Midget & Momo | The_Foodstorm,5.0,5137.0,House Of Thanos
93523,31499323,Pehle_food_ Fir_dude,5.0,5137.0,House Of Thanos
101617,32543426,Dionisius Lobo / Danny,5.0,5137.0,House Of Thanos
136045,39747308,BombaeBrownie,4.0,5137.0,House Of Thanos

In [14]:
df_use = df_res.sort_values('userID')

In [10]:
index = -1
prev = '-1'
for i,r in df_use.iterrows():
    if prev!=(r['userID']):
        index+=1
    prev = r['userID']
    df_use.loc[i,'userID']=index

KeyboardInterrupt:

In [11]:
len(set(df_res['userID'].values))

3579

In [43]:
cnts = pd.DataFrame(df_use['userID'].value_counts())

In [39]:
inds = np.arange(len(cnts.index))

In [45]:
cnts['userInds'] = inds

In [47]:
cnts['index1'] = cnts.index
cnts.columns = ['count', 'userInds','userID']

In [48]:
cnts

          count  userInds    userID
11798       480         0     11798
1200306     342         1   1200306
16160880    279         2  16160880
119376      263         3    119376
32662280    259         4  32662280
186718      249         5    186718
351192      244         6    351192
502382      236         7    502382
29171776    235         8  29171776
15843165    235         9  15843165
32959936    230        10  32959936
2705480     228        11   2705480
1447995     226        12   1447995
552174      222        13    552174
57166       213        14     57166
347700      210        15    347700
29663232    206        16  29663232
3100942     206        17   3100942
177483      204        18    177483
359395      198        19    359395
56267       195        20     56267
15559967    193        21  15559967
27616618    191        22  27616618
312067      191        23    312067
2182076     188        24   2182076
2811256     187        25   2811256
6679        186        26      6679
376050      181        27    376050
31321106    179        28  31321106
2618508     176        29   2618508
...         ...       ...       ...
33152106     31      3549  33152106
34787344     31      3550  34787344
3178561      31      3551   3178561
3204428      31      3552   3204428
1502349      31      3553   1502349
7372         31      3554      7372
720857       31      3555    720857
2841214      31      3556   2841214
802689       31      3557    802689
1306929      31      3558   1306929
29520001     31      3559  29520001
38272817     31      3560  38272817
1901678      31      3561   1901678
36613413     31      3562  36613413
15783639     31      3563  15783639
2779136      31      3564   2779136
36576341     31      3565  36576341
1988358      31      3566   1988358
892287       31      3567    892287
9282431      31      3568   9282431
32118920     31      3569  32118920
6057671      31      3570   6057671
15602824     31      3571  15602824
2884230      31      3572   2884230
36542969     31      3573  36542969
2126276      31      3574   2126276
16071073     31      3575  16071073
30695034     31      3576  30695034
38674354     31      3577  38674354
1517121      31      3578   1517121

[3579 rows x 3 columns]

In [49]:
df_use2 = df_use.merge(cnts,how = 'inner', on='userID')

In [51]:
len(set(df_use2['userInds'].values))

3579

In [52]:
df_use2

,userID,userName,userRating,restuarantID,restuarantName,count,userInds
0,6679,Jagruti Punjabi,5.0,4360.0,Moonshine Cafe & Bar,186,26
1,6679,Jagruti Punjabi,4.0,884.0,5 Spice,186,26
2,6679,Jagruti Punjabi,4.5,2849.0,Dishkiyaaon,186,26
3,6679,Jagruti Punjabi,4.0,626.0,Gaylord,186,26
4,6679,Jagruti Punjabi,5.0,2942.0,Dashanzi - JW Marriott Mumbai Juhu,186,26
5,6679,Jagruti Punjabi,4.0,2941.0,Urban Street Café,186,26
6,6679,Jagruti Punjabi,5.0,4699.0,Tandoori Drama,186,26
7,6679,Jagruti Punjabi,3.5,2636.0,Reunion Bar & Kitchen,186,26
8,6679,Jagruti Punjabi,3.5,1021.0,Soma - Grand Hyatt,186,26
9,6679,Jagruti Punjabi,5.0,5019.0,Via Bombay,186,26
10,6679,Jagruti Punjabi,4.5,4059.0,yoursdrooly,186,26
11,6679,Jagruti Punjabi,5.0,3965.0,Hitchki,186,26
12,6679,Jagruti Punjabi,4.0,3143.0,Herbivore,186,26
13,6679,Jagruti Punjabi,2.5,1628.0,Diva Maharashtracha,186,26
14,6679,Jagruti Punjabi,3.5,1701.0,Oye Pappe!,186,26
15,6679,Jagruti Punjabi,3.5,2014.0,King Chilli Oriental Restaurant,186,26
16,6679,Jagruti Punjabi,4.5,965.0,Popular,186,26
17,6679,Jagruti Punjabi,5.0,3811.0,JLWA,186,26
18,6679,Jagruti Punjabi,3.0,2101.0,Dumpling Khang,186,26
19,6679,Jagruti Punjabi,4.0,2394.0,JW Lounge - JW Marriott Mumbai Sahar,186,26
20,6679,Jagruti Punjabi,4.0,633.0,The Elbo Room,186,26
21,6679,Jagruti Punjabi,4.0,3613.0,Coney's,186,26
22,6679,Jagruti Punjabi,4.0,715.0,Geoffrey's - Marine Plaza,186,26
23,6679,Jagruti Punjabi,4.0,5057.0,Curryful,186,26
24,6679,Jagruti Punjabi,5.0,2393.0,JW Café - JW Marriott Mumbai Sahar,186,26
25,6679,Jagruti Punjabi,4.0,1001.0,Peninsula - Peninsula Grand Hotel,186,26
26,6679,Jagruti Punjabi,4.5,2849.0,Dishkiyaaon,186,26
27,6679,Jagruti Punjabi,4.5,2974.0,Raasta,186,26
28,6679,Jagruti Punjabi,4.5,4170.0,Juss by Sindhful,186,26
29,6679,Jagruti Punjabi,5.0,4480.0,Autumn Bar & Bistro,186,26
...,...,...,...,...,...,...,...
193393,76036915,Food Hooverzz,2.0,4971.0,Summer N Spice,31,3437
193394,76036915,Food Hooverzz,4.0,585.0,Badshah,31,3437
193395,76036915,Food Hooverzz,3.0,1356.0,TGI Fridays,31,3437
193396,76036915,Food Hooverzz,3.0,1761.0,Chopstix,31,3437
193397,76036915,Food Hooverzz,4.0,2829.0,Minus 301 Degrees F,31,3437
193398,76036915,Food Hooverzz,3.0,4870.0,House Of Momo,31,3437
193399,76036915,Food Hooverzz,3.0,4637.0,Smoke N' Toes,31,3437
193400,76036915,Food Hooverzz,4.0,4290.0,TASCA Oriental Cuisine,31,3437
193401,76036915,Food Hooverzz,4.0,4074.0,Amor Churros,31,3437
193402,76036915,Food Hooverzz,3.0,2234.0,The Mint Leaf Kitchen n Bar,31,3437
193403,76036915,Food Hooverzz,4.0,4715.0,Fryde,31,3437
193404,76036915,Food Hooverzz,4.0,342.0,Joey's Pizza,31,3437
193405,76036915,Food Hooverzz,4.0,4437.0,K2 - Kebab & Konkan,31,3437
193406,76036915,Food Hooverzz,4.0,2641.0,The Road House,31,3437
193407,76036915,Food Hooverzz,4.0,3076.0,India Bistro,31,3437
193408,76036915,Food Hooverzz,4.0,1406.0,Mantraa Bar & Restaurant,31,3437
193409,76036915,Food Hooverzz,4.0,4794.0,Ceremonial Kitchen & Co,31,3437
193410,76036915,Food Hooverzz,4.0,4909.0,Nusta Kitchen,31,3437
193411,76036915,Food Hooverzz,4.0,4338.0,Soul Curry,31,3437
193412,76036915,Food Hooverzz,3.0,3925.0,Quest Cafe,31,3437
193413,76036915,Food Hooverzz,4.0,4194.0,House Of Bhagat Tarachand,31,3437
193414,76036915,Food Hooverzz,4.0,3669.0,Chaubara 601,31,3437
193415,76036915,Food Hooverzz,4.0,4314.0,Pizza Supreme,31,3437
193416,76036915,Food Hooverzz,4.0,4778.0,Westside Bistro,31,3437
193417,76036915,Food Hooverzz,4.0,4494.0,B'Creamy,31,3437
193418,76036915,Food Hooverzz,3.0,3395.0,The DanSing Bottle,31,3437
193419,76036915,Food Hooverzz,4.0,4930.0,TRP - Thane Republic Lounge,31,3437
193420,76036915,Food Hooverzz,4.0,2057.0,Krishna Bhog,31,3437
193421,76036915,Food Hooverzz,3.0,3812.0,Kill No Kalorie,31,3437
193422,76036915,Food Hooverzz,4.0,4953.0,Veg Canteen,31,3437

In [53]:
df_clean = df_use2[['userInds','restuarantID','userRating']].sort_values('userInds')

In [56]:
df_clean['restuarantID'] = df_clean['restuarantID'].astype(int)

In [59]:
df_clean.to_csv('final_dataset.csv', index=False)

In [60]:
df_final = pd.read_csv('final_dataset.csv')

In [61]:
df_final

        userInds  restuarantID  userRating
0              0           811         4.0
1              0          2832         3.0
2              0          1948         4.0
3              0          1080         4.0
4              0          1961         4.5
5              0          2835         4.5
6              0          2846         4.0
7              0          1083         4.0
8              0          4783         5.0
9              0          1084         4.5
10             0          1930         1.0
11             0          1925         4.0
12             0          4322         4.0
13             0          1088         4.5
14             0          4328         5.0
15             0          3205         4.5
16             0          1969         3.5
17             0           128         4.0
18             0          1703         4.0
19             0          1039         5.0
20             0          1040         5.0
21             0          1983         2.0
22             0          1073         4.5
23             0           603         4.0
24             0          2828         4.0
25             0          1953         4.5
26             0          1775         3.5
27             0          2974         4.5
28             0            44         4.0
29             0          1774         4.5
...          ...           ...         ...
193393      3578          1715         4.5
193394      3578           871         3.0
193395      3578          2029         4.5
193396      3578          1585         4.5
193397      3578           208         4.5
193398      3578          3468         4.0
193399      3578           739         4.0
193400      3578          2330         4.0
193401      3578          1044         4.5
193402      3578          1990         3.5
193403      3578          2753         3.5
193404      3578          3111         4.0
193405      3578          2022         3.0
193406      3578          2601         3.0
193407      3578          2597         4.0
193408      3578          1239         4.5
193409      3578           272         3.0
193410      3578          1446         3.5
193411      3578          1247         4.5
193412      3578           466         3.5
193413      3578          2649         3.5
193414      3578          1702         3.5
193415      3578          1632         4.0
193416      3578          1179         3.5
193417      3578          1311         4.0
193418      3578          2717         4.0
193419      3578           603         4.0
193420      3578          2690         3.5
193421      3578          2914         1.0
193422      3578           743         4.5

[193423 rows x 3 columns]

In [31]:
cumcnts = [0]
for i in range(0,len(cnts)):
    cumcnts.append(cnts[i] + cumcnts[i])

In [33]:
cumcnts[-1]==sum(cnts)

True

In [34]:
cumcnts

[0,
 480,
 822,
 1101,
 1364,
 1623,
 1872,
 2116,
 2352,
 2587,
 2822,
 3052,
 3280,
 3506,
 3728,
 3941,
 4151,
 4357,
 4563,
 4767,
 4965,
 5160,
 5353,
 5544,
 5735,
 5923,
 6110,
 6296,
 6477,
 6656,
 6832,
 7005,
 7176,
 7344,
 7512,
 7679,
 7844,
 8008,
 8171,
 8333,
 8495,
 8657,
 8817,
 8976,
 9135,
 9294,
 9449,
 9604,
 9757,
 9910,
 10062,
 10213,
 10363,
 10513,
 10660,
 10807,
 10953,
 11099,
 11245,
 11390,
 11535,
 11679,
 11821,
 11963,
 12105,
 12246,
 12386,
 12526,
 12665,
 12803,
 12941,
 13079,
 13217,
 13355,
 13492,
 13629,
 13765,
 13901,
 14037,
 14171,
 14304,
 14437,
 14569,
 14701,
 14833,
 14965,
 15097,
 15228,
 15359,
 15489,
 15618,
 15747,
 15875,
 16003,
 16131,
 16259,
 16387,
 16515,
 16643,
 16770,
 16896,
 17022,
 17148,
 17274,
 17399,
 17524,
 17649,
 17772,
 17895,
 18018,
 18141,
 18264,
 18386,
 18507,
 18628,
 18748,
 18868,
 18988,
 19108,
 19228,
 19347,
 19466,
 19585,
 19704,
 19822,
 19940,
 20058,
 20176,
 20293,
 20410,
 20527,
 20644,
 20760,
 20876,
 20992,
 21108,
 21224,
 21340,
 21455,
 21570,
 21685,
 21800,
 21915,
 22030,
 22145,
 22259,
 22373,
 22486,
 22599,
 22712,
 22825,
 22937,
 23049,
 23161,
 23273,
 23385,
 23497,
 23609,
 23721,
 23832,
 23943,
 24054,
 24165,
 24275,
 24385,
 24495,
 24605,
 24715,
 24825,
 24934,
 25043,
 25152,
 25261,
 25370,
 25478,
 25586,
 25694,
 25802,
 25910,
 26018,
 26125,
 26232,
 26339,
 26446,
 26553,
 26660,
 26767,
 26874,
 26981,
 27088,
 27195,
 27302,
 27409,
 27515,
 27621,
 27727,
 27833,
 27939,
 28045,
 28151,
 28257,
 28363,
 28469,
 28575,
 28680,
 28785,
 28890,
 28994,
 29098,
 29202,
 29306,
 29409,
 29511,
 29613,
 29715,
 29817,
 29919,
 30021,
 30122,
 30223,
 30323,
 30423,
 30523,
 30623,
 30723,
 30823,
 30923,
 31023,
 31122,
 31221,
 31320,
 31419,
 31518,
 31617,
 31716,
 31815,
 31914,
 32012,
 32110,
 32208,
 32306,
 32404,
 32502,
 32600,
 32697,
 32794,
 32891,
 32988,
 33085,
 33182,
 33279,
 33376,
 33473,
 33570,
 33666,
 33762,
 33858,
 33954,
 34050,
 34146,
 34242,
 34338,
 34434,
 34530,
 34626,
 34721,
 34816,
 34911,
 35006,
 35101,
 35196,
 35291,
 35386,
 35481,
 35576,
 35671,
 35766,
 35861,
 35956,
 36051,
 36145,
 36239,
 36333,
 36427,
 36521,
 36615,
 36709,
 36803,
 36896,
 36989,
 37082,
 37175,
 37268,
 37361,
 37454,
 37547,
 37640,
 37732,
 37824,
 37916,
 38008,
 38100,
 38191,
 38282,
 38373,
 38464,
 38555,
 38646,
 38737,
 38828,
 38919,
 39010,
 39100,
 39190,
 39280,
 39370,
 39460,
 39550,
 39640,
 39730,
 39820,
 39910,
 40000,
 40089,
 40178,
 40267,
 40356,
 40445,
 40534,
 40623,
 40712,
 40801,
 40890,
 40979,
 41068,
 41156,
 41244,
 41332,
 41420,
 41508,
 41596,
 41684,
 41772,
 41860,
 41947,
 42034,
 42121,
 42208,
 42295,
 42382,
 42469,
 42556,
 42643,
 42730,
 42817,
 42904,
 42991,
 43078,
 43164,
 43250,
 43336,
 43422,
 43508,
 43594,
 43680,
 43766,
 43852,
 43938,
 44024,
 44110,
 44196,
 44282,
 44368,
 44454,
 44540,
 44625,
 44710,
 44795,
 44880,
 44965,
 45050,
 45135,
 45220,
 45305,
 45390,
 45475,
 45560,
 45645,
 45730,
 45815,
 45900,
 45985,
 46070,
 46155,
 46239,
 46323,
 46407,
 46491,
 46575,
 46659,
 46743,
 46827,
 46911,
 46995,
 47079,
 47163,
 47247,
 47331,
 47415,
 47499,
 47583,
 47666,
 47749,
 47832,
 47915,
 47998,
 48081,
 48164,
 48246,
 48328,
 48410,
 48492,
 48574,
 48656,
 48738,
 48820,
 48902,
 48984,
 49066,
 49148,
 49230,
 49312,
 49393,
 49474,
 49555,
 49636,
 49717,
 49798,
 49879,
 49960,
 50041,
 50122,
 50203,
 50284,
 50365,
 50446,
 50527,
 50608,
 50689,
 50770,
 50850,
 50930,
 51010,
 51090,
 51170,
 51250,
 51330,
 51410,
 51490,
 51570,
 51650,
 51730,
 51810,
 51890,
 51970,
 52050,
 52130,
 52210,
 52290,
 52370,
 52450,
 52530,
 52610,
 52689,
 52768,
 52847,
 52926,
 53005,
 53084,
 53163,
 53242,
 53321,
 53400,
 53479,
 53558,
 53637,
 53716,
 53795,
 53874,
 53953,
 54032,
 54111,
 54190,
 54269,
 54347,
 54425,
 54503,
 54581,
 54659,
 54737,
 54815,
 54893,
 54971,
 55049,
 55127,
 55205,
 55283,
 55361,
 55439,
 55517,
 55595,
 55673,
 55751,
 55828,
 55905,
 55982,
 56059,
 56136,
 56213,
 56290,
 56367,
 56444,
 56521,
 56597,
 56673,
 56749,
 56825,
 56901,
 56977,
 57053,
 57129,
 57205,
 57281,
 57357,
 57433,
 57509,
 57585,
 57661,
 57737,
 57812,
 57887,
 57962,
 58037,
 58112,
 58187,
 58262,
 58337,
 58412,
 58487,
 58562,
 58637,
 58712,
 58787,
 58862,
 58937,
 59012,
 59087,
 59162,
 59237,
 59312,
 59386,
 59460,
 59534,
 59608,
 59682,
 59756,
 59830,
 59904,
 59978,
 60052,
 60126,
 60200,
 60274,
 60348,
 60422,
 60496,
 60570,
 60644,
 60718,
 60792,
 60866,
 60939,
 61012,
 61085,
 61158,
 61231,
 61304,
 61377,
 61450,
 61523,
 61596,
 61669,
 61742,
 61815,
 61888,
 61961,
 62034,
 62107,
 62180,
 62253,
 62326,
 62399,
 62472,
 62545,
 62618,
 62690,
 62762,
 62834,
 62906,
 62978,
 63050,
 63122,
 63194,
 63266,
 63338,
 63410,
 63482,
 63554,
 63626,
 63698,
 63770,
 63842,
 63914,
 63986,
 64058,
 64130,
 64202,
 64273,
 64344,
 64415,
 64486,
 64557,
 64628,
 64699,
 64770,
 64841,
 64912,
 64983,
 65054,
 65125,
 65196,
 65267,
 65338,
 65409,
 65480,
 65551,
 65622,
 65693,
 65764,
 65835,
 65906,
 65977,
 66048,
 66119,
 66189,
 66259,
 66329,
 66399,
 66469,
 66539,
 66609,
 66679,
 66749,
 66819,
 66889,
 66959,
 67029,
 67099,
 67169,
 67239,
 67309,
 67379,
 67449,
 67519,
 67589,
 67659,
 67728,
 67797,
 67866,
 67935,
 68004,
 68073,
 68142,
 68211,
 68280,
 68349,
 68418,
 68487,
 68556,
 68625,
 68694,
 68763,
 68832,
 68900,
 68968,
 69036,
 69104,
 69172,
 69240,
 69308,
 69376,
 69444,
 69512,
 69580,
 69648,
 69716,
 69784,
 69852,
 69920,
 69988,
 70056,
 70124,
 70192,
 70260,
 70328,
 70396,
 70464,
 70531,
 70598,
 70665,
 70732,
 70799,
 70866,
 70933,
 71000,
 71067,
 71134,
 71201,
 71268,
 71335,
 71402,
 71469,
 71536,
 71603,
 71670,
 71737,
 71804,
 71871,
 71937,
 72003,
 72069,
 72135,
 72201,
 72267,
 72333,
 72399,
 72465,
 72531,
 72597,
 72663,
 72729,
 72795,
 72861,
 72927,
 72993,
 73059,
 73125,
 73191,
 73257,
 73323,
 73389,
 73455,
 73521,
 73587,
 73653,
 73719,
 73785,
 73851,
 73917,
 73982,
 74047,
 74112,
 74177,
 74242,
 74307,
 74372,
 74437,
 74502,
 74567,
 74632,
 74697,
 74762,
 74827,
 74892,
 74957,
 75022,
 75087,
 75152,
 75217,
 75282,
 75347,
 75412,
 75476,
 75540,
 75604,
 75668,
 75732,
 75796,
 75860,
 75924,
 75988,
 76052,
 76116,
 76180,
 76244,
 76308,
 76372,
 76436,
 76500,
 76564,
 76628,
 76692,
 76756,
 76820,
 76884,
 76948,
 77012,
 77076,
 77140,
 77204,
 77268,
 77331,
 77394,
 77457,
 77520,
 77583,
 77646,
 77709,
 77772,
 77835,
 77898,
 77961,
 78024,
 78087,
 78150,
 78213,
 78276,
 78339,
 78402,
 78465,
 78528,
 78591,
 78654,
 78717,
 78780,
 78843,
 78906,
 78969,
 79032,
 79095,
 79158,
 79221,
 79283,
 79345,
 79407,
 79469,
 79531,
 79593,
 79655,
 79717,
 79779,
 79841,
 79903,
 79965,
 80027,
 80089,
 80151,
 80213,
 80275,
 80337,
 80399,
 80461,
 80523,
 80585,
 80647,
 80709,
 80771,
 80833,
 80895,
 80957,
 81019,
 81081,
 81143,
 81205,
 81267,
 81329,
 81391,
 81453,
 81515,
 81577,
 81639,
 81701,
 81762,
 81823,
 81884,
 81945,
 82006,
 82067,
 82128,
 82189,
 82250,
 82311,
 82372,
 82433,
 82494,
 82555,
 82616,
 82677,
 82738,
 82799,
 82860,
 82921,
 82982,
 83043,
 83104,
 83165,
 83226,
 83287,
 83348,
 83409,
 83470,
 83531,
 83592,
 83653,
 83714,
 83775,
 83836,
 83897,
 83958,
 84019,
 84080,
 84141,
 84202,
 84263,
 84324,
 84385,
 84446,
 84507,
 84568,
 84629,
 84689,
 84749,
 84809,
 84869,
 84929,
 84989,
 85049,
 85109,
 85169,
 85229,
 85289,
 85349,
 85409,
 85469,
 85529,
 85589,
 85649,
 85709,
 85769,
 85829,
 85889,
 85949,
 86009,
 86069,
 86129,
 86189,
 86249,
 86309,
 86369,
 86429,
 86489,
 86549,
 86608,
 86667,
 86726,
 86785,
 86844,
 86903,
 86962,
 87021,
 87080,
 87139,
 87198,
 87257,
 87316,
 87375,
 87434,
 87493,
 87552,
 87611,
 87670,
 87729,
 87788,
 87847,
 87906,
 87965,
 88024,
 88083,
 88142,
 88201,
 ...]